<a href="https://colab.research.google.com/github/Leorodr501/EDA-Assignment/blob/master/IDH3035_hw1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd

In [0]:
df = pd.read_csv("https://raw.githubusercontent.com/ruturajshete1008/US-Salary-Data-Analysis-using-R-Programming/master/US_Salary_Data.csv")

In [5]:
df.head()

         Date  Gold Prices per ounce(USD)  Gold Prices per ounce (Rupees)
0  05/25/2016                      1223.5                        82781.39
1  05/24/2016                      1228.9                        84162.01
2  05/23/2016                      1251.1                        84134.09
3  05/20/2016                      1252.4                        84250.75
4  05/19/2016                      1254.2                        84815.33

In [10]:
df

           Date  Gold Prices per ounce(USD)  Gold Prices per ounce (Rupees)
0    05/25/2016                      1223.5                        82781.39
1    05/24/2016                      1228.9                        84162.01
2    05/23/2016                      1251.1                        84134.09
3    05/20/2016                      1252.4                        84250.75
4    05/19/2016                      1254.2                        84815.33
5    05/18/2016                      1273.7                        85167.28
6    05/17/2016                      1276.2                        85045.95
7    05/16/2016                      1273.4                        85230.50
8    05/13/2016                      1271.9                        84887.76
9    05/12/2016                      1270.3                        84726.45
10   05/11/2016                      1274.6                        84769.26
11   05/10/2016                      1263.9                        84474.71
12   05/09/2016                      1265.6                        85660.00
13   05/06/2016                      1292.9                        85390.96
14   05/05/2016                      1271.4                        85391.25
15   05/04/2016                      1273.3                        85473.88
16   05/03/2016                      1290.7                        85856.89
17   05/02/2016                      1294.7                        85899.69
18   04/29/2016                      1289.2                        84337.92
19   04/28/2016                      1265.5                        83207.06
20   04/27/2016                      1249.2                        82912.51
21   04/26/2016                      1242.2                        83029.02
22   04/25/2016                      1238.9                        82476.49
23   04/22/2016                      1228.7                        83273.40
24   04/21/2016                      1249.0                        82939.16
25   04/20/2016                      1253.2                        83132.36
26   04/19/2016                      1253.0                        82355.86
27   04/18/2016                      1233.6                        82242.75
28   04/15/2016                      1233.1                        81718.57
29   04/14/2016                      1225.0                        82356.71
..          ...                         ...                             ...
137  11/10/2015                      1080.8                        72844.89
138  11/09/2015                      1080.8                        72921.72
139  11/06/2015                      1084.7                        73185.65
140  11/05/2015                      1088.2                        73197.28
141  11/04/2015                      1087.9                        73540.59
142  11/03/2015                      1087.6                        74825.10
143  11/02/2015                      1104.4                        75072.03
144  10/30/2015                      1106.5                        75375.68
145  10/29/2015                      1114.2                        76657.10
146  10/28/2015                      1135.8                        76388.04
147  10/27/2015                      1141.5                        75994.27
148  10/26/2015                      1147.2                        76073.93
149  10/23/2015                      1177.1                        76187.61
150  10/22/2015                      1166.8                        76440.20
151  10/21/2015                      1167.0                        76885.57
152  10/20/2015                      1163.3                        76338.71
153  10/19/2015                      1166.6                        76860.63
154  10/16/2015                      1167.6                        77184.09
155  10/15/2015                      1178.0                        77141.88
156  10/14/2015                      1173.3                        76850.16
157  10/13/2015                      1183.6                        75764.66
158  10/12/2015                      1187.9                        75623.20
159  10/09/2015                      1180.1                        74911.91
160  10/08/2015                      1165.8                        75130.48
161  10/07/2015                      1164.9                        75694.92
162  10/06/2015                      1156.3                        74912.76
163  10/05/2015                      1144.7                        74136.27
164  10/01/2015                      1149.0                        73220.86
165  09/30/2015                      1146.8                        74309.79
166  09/29/2015                      1138.1                        75228.60

[167 rows x 3 columns]

In [11]:
len(df)

167

In [39]:
np.mean(df['USD_Gold'])

1169.7155688622752

In [40]:
np.std(df['USD_Gold'])

76.66948895130083

In [41]:
np.min(df['USD_Gold'])

1050.8

In [42]:
np.max(df['USD_Gold'])

1294.7

In [43]:
np.mean(df['Rupees_Gold']), np.std(df['Rupees_Gold']), np.min(df['Rupees_Gold']), np.max(df['Rupees_Gold'])

(77900.97107784427, 5078.1034915617865, 70320.03, 85899.69)

In [0]:
df.columns = ['Date', 'USD_Gold', 'Rupees_Gold']

In [37]:
df.columns

Index(['Date', 'USD_Gold', 'Rupees_Gold'], dtype='object')

In [38]:
df

           Date  USD_Gold  Rupees_Gold
0    05/25/2016    1223.5     82781.39
1    05/24/2016    1228.9     84162.01
2    05/23/2016    1251.1     84134.09
3    05/20/2016    1252.4     84250.75
4    05/19/2016    1254.2     84815.33
5    05/18/2016    1273.7     85167.28
6    05/17/2016    1276.2     85045.95
7    05/16/2016    1273.4     85230.50
8    05/13/2016    1271.9     84887.76
9    05/12/2016    1270.3     84726.45
10   05/11/2016    1274.6     84769.26
11   05/10/2016    1263.9     84474.71
12   05/09/2016    1265.6     85660.00
13   05/06/2016    1292.9     85390.96
14   05/05/2016    1271.4     85391.25
15   05/04/2016    1273.3     85473.88
16   05/03/2016    1290.7     85856.89
17   05/02/2016    1294.7     85899.69
18   04/29/2016    1289.2     84337.92
19   04/28/2016    1265.5     83207.06
20   04/27/2016    1249.2     82912.51
21   04/26/2016    1242.2     83029.02
22   04/25/2016    1238.9     82476.49
23   04/22/2016    1228.7     83273.40
24   04/21/2016    1249.0     82939.16
25   04/20/2016    1253.2     83132.36
26   04/19/2016    1253.0     82355.86
27   04/18/2016    1233.6     82242.75
28   04/15/2016    1233.1     81718.57
29   04/14/2016    1225.0     82356.71
..          ...       ...          ...
137  11/10/2015    1080.8     72844.89
138  11/09/2015    1080.8     72921.72
139  11/06/2015    1084.7     73185.65
140  11/05/2015    1088.2     73197.28
141  11/04/2015    1087.9     73540.59
142  11/03/2015    1087.6     74825.10
143  11/02/2015    1104.4     75072.03
144  10/30/2015    1106.5     75375.68
145  10/29/2015    1114.2     76657.10
146  10/28/2015    1135.8     76388.04
147  10/27/2015    1141.5     75994.27
148  10/26/2015    1147.2     76073.93
149  10/23/2015    1177.1     76187.61
150  10/22/2015    1166.8     76440.20
151  10/21/2015    1167.0     76885.57
152  10/20/2015    1163.3     76338.71
153  10/19/2015    1166.6     76860.63
154  10/16/2015    1167.6     77184.09
155  10/15/2015    1178.0     77141.88
156  10/14/2015    1173.3     76850.16
157  10/13/2015    1183.6     75764.66
158  10/12/2015    1187.9     75623.20
159  10/09/2015    1180.1     74911.91
160  10/08/2015    1165.8     75130.48
161  10/07/2015    1164.9     75694.92
162  10/06/2015    1156.3     74912.76
163  10/05/2015    1144.7     74136.27
164  10/01/2015    1149.0     73220.86
165  09/30/2015    1146.8     74309.79
166  09/29/2015    1138.1     75228.60

[167 rows x 3 columns]